.wrapper {
  position: relative;
}

.content_wrapper {
  /* margin-bottom: 50px; */
  min-height: calc(100vh - 190px);
}

.totop_btn {
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  right: 3%;
  z-index: 2;
}