.main_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: max-content;
  padding: 12px 20px;
  height: max-content;
  transition: 0.2s;
  background-color: transparent;
  /* background-color: var(--light-blue); */
  /* box-shadow: 0px 0px 30px rgba(16, 122, 212, 0.3); */
}

.main_btn:hover {
  opacity: 0.8;
}
