.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card_inner {
  display: flex;
  align-items: center;
  padding: 27px;
  border-radius: 10px;
  border: 1px solid white;
}

/* buttons -------------------- */

.main_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 155px;
  height: 40px;
  transition: 0.2s;
  background-color: var(--light-blue);
  box-shadow: 0px 0px 30px rgba(16, 122, 212, 0.3);
}

.main_btn:hover {
  transition: 0.2s;
  opacity: 0.8;
}

/* /buttons -------------------- */



.card_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 12px;
}

.card_content {
  width: 100%;
  margin-left: 20px;
}

.main_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card_tags {
  margin-top: 7px;
  display: flex;
}

.card_description {
  font-size: 17px;
  line-height: 21px;
  margin-top: 10px;
}

.card_photo {
  min-width: 160px;
  height: 160px;
}
