.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.columns_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 40px;
}

.inner {
  border-radius: 15px;
  overflow: hidden;
}

.inner_title {
  text-align: center;
  padding: 7px;
  /* background-color: var(--light-blue); */
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.column_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

/* buttons -------------------- */

.main_btn {
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 205px;
  height: 40px;
  transition: 0.2s;
  background-color: transparent;
  box-shadow: 0px 0px 30px rgba(16, 122, 212, 0.3);
}

.main_btn:hover {
  transition: 0.2s;
  opacity: 0.8;
}

.remove_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 155px;
  height: 40px;
  transition: 0.2s;
  background: #ed4b4bb2;
  margin: 0 auto 0 10px;
}

.remove_btn:hover {
  transition: 0.2s;
  opacity: 0.8;
}

/* /buttons -------------------- */
.error{
  color: firebrick;
  margin-top: 20px;
  font-size: 18px;
}
.btn_wrapper {
  width: 100%;
  margin-top: 15px;
}

.error_container {
  text-align: center;
  color: rgb(165, 33, 33);
  margin-bottom: 30px;
}

.page_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-left: 15px;
}

.pages_container {
  padding: 25px;
}

.page_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #107ad4;
  border-radius: 7px;
  padding: 15px;
}

.btns_container {
  display: flex;
}

.item_content {
  display: flex;
  align-items: center;
}

.soft_wrapper {
  padding: 50px 0;
}

.info_inner {
  display: flex;
}

.soft_content {
  margin-left: 50px;
}

.soft_title {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 15px;
}

.soft_text {
  font-size: 18px;
}

.download_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_wrapper_b {
  width: 175px;
  margin-right: 40px;
}

.detail_item {
  cursor: pointer;
  margin-bottom: 5px;
}
.aTag{
  margin-left: 10px;
}
.detail_item:last-child {
  margin-bottom: 0px;
}

.btn_wrapper_c {
  width: 18%;
}

.comments {
  background: transparent;
}

.comments_section {
  padding: 25px 35px;
}

.submit_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
  background: rgba(73, 75, 94, 0.4);
  border-radius: 0px 0px 10px 10px;
}

.comment_input {
  width: 79%;
  color: white;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  filter: drop-shadow(0px 0px 30px rgba(16, 122, 212, 0.2));
  border-radius: 7px;
}

.slider {
  margin: 100px 0;
}

.track {
  width: 412px;
  overflow: hidden;
  margin: 0 auto;
}

.slider_inner {
  position: relative;
}

.slider_content {
  display: flex;
  transition: 0.35s;
}

.image_container {
  min-width: 412px;
  min-height: 265px;
}
.arrowBlock {
  height: 50px;
  width: 50px;
  padding-top: 8px;
  padding-left: 9px;
}
.left_arrow{
  transform: rotate(180deg);
}
.slider_arrow {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 25px);
  left: 245px;
  z-index: 99;
}

.right_arrow {
  left: auto;
  right: 255px;
}

.mob_soft_info {
  display: none;
}

.image_container img {
  width: 412px;
  height: 265px;
}

@media screen and (max-width: 600px) {
  .soft_info {
    display: none;
  }

  .mob_soft_info {
    display: block;
    margin-top: 30px;
  }

  .mob_soft_photo {
    min-height: 95px;
    min-width: 95px;
  }

  .softcard_content {
    display: flex;
    margin-bottom: 25px;
  }

  .mob_soft_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }

  .mob_soft_content {
    margin-left: 20px;
  }

  .image_container {
    min-width: 219px;
    min-height: 141px;
  }

  .track {
    width: 219px;
  }

  .slider_arrow {
    top: calc(50% - 30px);
    left: 5%;
  }
  
  .right_arrow {
    transform: rotate(180deg);
    left: auto;
    right: 5%;
  }

  .image_container img {
    width: 219px;
    height: 141px;
  }

  .download_section {
    flex-direction: column;
    justify-content: center;
  }

  .btn_wrapper_b {
    margin: 0;
    margin-bottom: 15px;
  }

  .details_container {
    padding: 0;
  }

  .btn_wrapper_c {
    margin-top: 10px;
  }

  .comment_input {
    width: 100%;
  }

  .detail_item {
    padding: 0 20px;
  }

  .submit_area {
    flex-direction: column;
  }
  
}
