.nav_link {
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  border-bottom: 1px solid #107ad4;
  padding-bottom: 3px;
  margin-bottom: 6px;

  color: #ecf5fd;
  transition: 0.2s;
}

.nav_link:hover {
  color: #b5c7d8;
}

.wrapper {
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 140px;
  margin-top: 20px;
}

.main_wrapper.active {
  display: flex;
}

.main_wrapper {
  display: none;
  align-items: flex-end;
}

.inner {
  display: flex;
  flex-direction: column;
  padding: 25px;
}