.nav_link {
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  width: 100%;
  color: #ecf5fd;
  transition: 0.2s;
}

.nav_link:hover {
  color: #b5c7d8;
}

.wrapper {
  background: transparent;
  border-radius: 10px !important;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 140px;
  height: 500px;
  padding-top: 25px;
  margin-top: -10px;
}

.main_wrapper.active {
  display: flex;
}
.wrapper:first-child{
  border-radius: 10px !important;
}
.main_wrapper {
  display: none;
  align-items: flex-end;
}

.inner {
  display: flex;
  flex-direction: column;
  padding: 25px;
}