.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  color: white;
  width: max-content;
  border-radius: 3px;
  margin-right: 5px;
  padding: 3px 2px 3px 6px;
  font-size: 12px;
}
.wrap {
  margin-right: 5px;
}